/* Importa a fonte Chakra Petch do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* 
  ===== Estilos Gerais ===== 
*/

body {
  font-family: "Chakra Petch", sans-serif;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

body::before {
  content: "";
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(120, 120, 120, 0.8);
  z-index: -1;
}

/* 
  ===== Estilos da Hotbar ===== 
*/

.hotbar {
  background-color: #3f3f3f;
  color: #a0a0a0;
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.hotbar a {
    color: #a0a0a0;
    text-decoration: none;
}

.hotbar a:hover {
    text-decoration: none;
}

.hotbar h1 {
  font-weight: bold;
  font-size: 40px;
  margin: 10px;
}

/* 
  ===== Estilos da Seção Principal (main) ===== 
*/

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px; /* Acomoda a altura da hotbar */
}

/* 
  ===== Estilos das Seções (section) ===== 
*/

section {
  color: #3f3f3f;
  text-align: left;
  padding: 20px;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3rem;
}

section h1 {
  font-size: 45px;
  text-align: center; /* Centraliza o título da seção */
  margin-bottom: 1rem;  /* Adiciona espaço abaixo do título */
}

/* 
  ===== Estilos de Inputs ===== 
*/

.conteudo-dinamico {
  background-color: rgba(210, 210, 210, 0.8);
  margin: 3rem;
}

.conteudo-dinamico h1 {
  font-size: 45px;
  text-align: center; /* Centraliza o título da seção */
  
  margin: 1.5rem;  /* Adiciona espaço abaixo do título */
}

.conteudo-dinamico {
  /* Estilos gerais para o conteúdo */
  padding: 20px;
  border: 1px solid #ccc;
}

.conteudo-dinamico ul {
  list-style: disc;
  margin-left: 20px;
}

.conteudo-dinamico ol {
  list-style: decimal;
  margin-left: 20px;
}

/* 
  ===== Estilos do Rodapé ===== 
*/

footer {
    background-color: #3f3f3f;
    color: #d8d8d8;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}